@charset "UTF-8";
/* CSS Document */
h2 {
    font-family: "Arial", "Helvetica", sans-serif;
}

h3 {
    font-family: "Arial", "Helvetica", sans-serif;
}

h4 {
    font-family: "Arial", "Helvetica", sans-serif;
}

h5 {
    font-family: "Arial", "Helvetica", sans-serif;
}

h6 {
    font-family: "Arial", "Helvetica", sans-serif;
}

.logoName {
    font-family: fantasy;
}

.titleBanner {
	position: relative;
    display: inline-block;
}

.textCentered {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-family: "Bahnschrift", cursive;
}
.textCentered2 {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-family: "Bahnschrift", cursive;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #8BD9F0;
}

.loginCenter {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-family: "Bahnschrift", cursive;
}

.username, .password {
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

.loginSubmit {
    width: 70%;
    cursor: pointer;
    font-size: 20px;
}

.backToHome {
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    color: black;
}

.backToHome:hover {
    background-color: #9E9E9E;
}

#nav {
    margin-bottom: 10px;
    font-family: "Arial", "Helvetica", sans-serif;
}

#nav ul {

	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
	
}

#nav li {
	float: right;
}

#nav li a, .dropTab {
	display: block;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

#nav a:link {
	color: black;
}

#nav a:visited {
	color: black;
}

#nav a:hover, .dropdown:hover .dropTab, .dropOptions {
	color: white;
	background-color: #A5A5A5;
}

#nav li.dropdown {
    display: inline-block;
}

#nav .dropOptions {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

#nav .dropdown:hover .dropOptions {
    display: block;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Compresses the two columns into one column on smaller screens*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.border {
	border-left: 1px solid black;
	height: 400px;
	position: absolute;
	left: 50%;
	margin-left: -1px;
}

.center {
	display: block;
	margin: auto;
	width: 100%;
}

.centerVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 20px;
    transition: 0.3s;
	display: block;
	margin: auto;
	width: 350px;
	height: 200px;
}

.card:hover {
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

.container {
	padding: 4px;
}

/* easier resizing */
* {
    box-sizing: border-box;
}

.gallery {
    position: relative;
}

.videos {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    padding: 25px;
    color: black;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    color: white;
    background-color: #A5A5A5;
}

.highlightTitle {
    font-family: "Arial", "Helvetica", sans-serif;
}

.columnEnd {
    float: left;
    width: 25%;
}

.rowEnd {
    color: black;
    background-color: #8BD9F0;
    font-family: "Arial", "Helvetica", sans-serif;
}

.rowEnd:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .columnEnd {
        width: 100%;
    }
}

.columnSports {
    float: left;
    width: 50%;
}

.rowSports:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .columnSports {
        width: 100%;
    }
}

.forumCard {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 20px;
    transition: 0.3s;
	display: block;
	margin: auto;
	width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
	height: 120px;
}

.forumCard h3 {
    text-align: center;
    padding-top: 10px;
}
.forumCard p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
}

.forumCard h6 {
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 0;
}

.forumCard:hover {
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

.donateCard {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 20px;
    transition: 0.3s;
	display: block;
	margin: auto;
	width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
	height: 600px;
}

.donateCard:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

.loginCard {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 20px;
    transition: 0.3s;
	display: block;
	margin: auto;
	width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
	height: 360px;
    background-color: white;
}

.loginCard:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

.donate, .nameCard, .cardNumber{
    width: 90%;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}
.expDate {
    width: 20%;
    padding: 7px;
    margin-left: 2px;
    margin-top: 10px;
}

.cvv {
    width: 10%;
    padding: 7px;
}

select {
    margin-left: 30px;
    margin-bottom: 10px;
    width: 50%;
    height: 30px;
}

.donateLabel {
    margin-left: 30px;
    font-family: sans-serif;
}

.donateSubmit {
    background-color: white;
    width: 70%;
    padding: 15px;
    margin-left: 85px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
