@charset "UTF-8";
/* CSS Document */

.titleBanner {
	text-align: center;
	background-color: #211649;
	color: white;
	padding: 70px;
    margin: 0;
    margin-bottom: 10px;
}

#nav {
    margin-bottom: 10px;
}

#nav ul {

	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
	
}

#nav li {
	float: right;
}

#nav li a {
	display: block;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

#nav a:link {
	color: black;
}

#nav a:visited {
	color: black;
}

#nav a:hover {
	color: white;
	background-color: #211649;
}

#nav a:active { /* Can't get this to work */
	color: white;
    background-color: #211649;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Compresses the two columns into one column on smaller screens*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.border {
	border-left: 1px solid black;
	height: 400px;
	position: absolute;
	left: 50%;
	margin-left: -1px;
}

.center {
	display: block;
	margin: auto;
	width: 100%;
}

.centerVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	display: block;
	margin: auto;
	width: 350px;
	height: 200px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
	padding: 4px;
}

/* easier resizing */
* {
    box-sizing: border-box;
}

.gallery {
    position: relative;
}

.videos {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 25px;
    color: black;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: white;
    background-color: #2C2C2C;
}

.highlightTitle {
    
}

.columnEnd {
    float: left;
    width: 25%;
}

.rowEnd {
    color: white;
    background-color: #211649;
}

.rowEnd:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .columnEnd {
        width: 100%;
    }
}

.columnSports {
    float: left;
    width: 50%;
}

.rowSports:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .columnSports {
        width: 100%;
    }
}



